


.navigation{
    background-color:cadetblue;
    border:1px solid #999;
    width:95%;
  
}
.navigation ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
.navigation ul li a{
    list-style-type: none;
    text-decoration-line: none;
    font-size:20px;
   color:antiquewhite;
   text-transform: capitalize;
   padding:5px;
   transition: background-color: 0.5s;
    
}
.navigation ul li a:hover{
    background-color: black;
}
.navigation ul{
    float: right;
}