{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block body %}
<center>
<h1>welcome to event planner</h1></center>
<center><p>This site will help you plan your events</p>
<p><em>You can add, delete or edit events</em></p>ss
<p><b>To access these features, you need to create an account then log in</b></p>
</center>
<center>
		<a href="{{url_for('create')}}">register</a>
		<a href="{{url_for('login')}}">login</a>
		<a href="{{url_for('events')}}">events</a>
	</center>

{% endblock %}
